@use "../utils/" as u;

.navbar {
    &-company {
        width: 7em;
        height: 1.8125em;
        line-height: 1em;
    }

    &-top-left {
        gap: 1.5em;
    }

    &-top-right {
        // mobile
        display: none;
        gap: 2em;

        // desktop breakpoints
        @include u.breakpoint(medium) {
            display: flex;
        }

        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: var(--fw-light);
        }
    }
    // Grid

    &-bottom {
        grid-template-columns: 1fr;

        @include u.breakpoint(medium) {
            grid-template-columns: 1fr 4fr 1fr 1fr;
            border: 2px solid var(--clr-primary-400);
        }

        & > * {
            padding: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-email {
        @include u.breakpoint(medium) {
            border-left: var(--border);
        }

        @include u.breakpoint-down(small) {
            border-right: var(--border);
            border-left: var(--border);
            border-top: var(--border);
        }

        &-input {
            &::placeholder {
                font-weight: var(--fw-light);
            }
        }

        &:hover {
            background-color: var(--clr-secondary-300);
        }
    }
}

.dropdown {
    &-toggle {
        position: relative;

        & > img {
            display: inline-block;
            height: var(--fs-primary);
            filter: var(--filter-white);
        }
    }
    &-menu {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0.8em;
        background: var(--clr-primary-400);
        display: none;
        border: 1px var(--clr-secondary-400) solid;

        & > *:not(:last-child) {
            display: block;
            margin-bottom: 1em;
        }
    }
}

.company {
    &-logo-1 {
        width: 1.8em;
        height: 1.8em;
    }
    &-logo-2 {
        width: 2.8125em;
        height: 2.8125em;
    }

    &-owner {
        font-size: 0.8rem;
    }
}

.tagline {
    @include u.breakpoint(medium) {
        border-left: var(--border);
    }
}

.social-links {
    gap: 1em;

    & > a {
        width: 1.2em;
        height: 1.2em;

        @include u.breakpoint(medium) {
            width: 1.5em;
            height: 1.5em;
        }
    }
    @include u.breakpoint(medium) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

// Mobile menu
body {
    position: relative;
}

.mobile-menu {
    display: none;
    position: absolute;
    background: var(--clr-primary-400);
    min-height: 105vh;
    top: -2em;
    left: 0;
    min-width: 105vw;
    padding: 2em;
    z-index: 1;

    &-links {
        & > * {
            font-size: var(--fs-h2);
            margin-bottom: 1em;
        }
    }

    &-open {
        height: 2em;
        filter: var(--filter-white);

        @include u.breakpoint(medium) {
            display: none;
        }
    }

    &-close {
        height: 4em;
        filter: var(--filter-white);

        position: absolute;
        top: 20px;
        right: 20px;
    }
}
