@use "../utils/" as u;

button {
    cursor: pointer;
    border: 2px solid var(--clr-primary-400);
    background: transparent;

    &[data-type="primary"] {
        font-size: 1.25rem;
        @include u.breakpoint(medium) {
            border-left: var(--border);
        }
        @include u.breakpoint-down(small) {
            border: var(--border);
        }
    }

    &[data-type="primary"]:hover,
    [data-type="primary"]:focus {
        background: transparent;
        transition: ease-in 400ms;
    }

    &[data-type="secondary"] {
        border: 2px solid var(--clr-secondary-300);
        padding: 0.5em;

        &:hover,
        &:focus {
            background: var(--clr-secondary-300);
            color: var(--text-neutral-100);
            transition: ease-in 400ms;
        }
    }

    &[data-type="comment-publish"],
    &[data-type="comment-cancel"] {
        border: none;
        font-size: 0.9rem;
        font-weight: var(--fw-light);
        line-height: 0.9;
        &:hover,
        &:focus {
            opacity: 0.8;
        }
        position: absolute;
        bottom: -34px;
        padding: 0.6em 1.2em;
    }

    &[data-type="comment-publish"] {
        color: var(--clr-neutral-100);
        right: 0;
    }

    &[data-type="comment-cancel"] {
        right: 80px;
    }

    &[data-type="newsletter"],
    &[data-type="newsletter"] {
        font-weight: var(--fw-semi-bold);
    }

    &[data-type="newsletter"]:hover,
    &[data-type="newsletter"]:focus {
        border: var(--border);
        background: var(--clr-neutral-100);
        color: var(--clr-primary-400);
    }
}
