@use "../utils/" as u;

.main-content-blog {
    text-align: center;

    @include u.breakpoint(medium) {
        text-align: left;
    }
}

.blog {
    &-h1 {
        margin-bottom: 0.2em;
    }

    &-h2 {
        border-top: var(--border);
        padding: 1rem;
    }
}
